.row {
    color: #FFFF;
    background-color: #BE0909;
    padding: 200px;
    display:flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    font-family: 'Roboto', sans-serif;
    border: 0;
    outline: none;

}

.yellow {
    background-color: #FFB039;
    padding: 200px;
    display: flex;
    justify-content: stretch;
}


#button {
    border-radius: 12px;
    background-color: #468189;
    color: #FFFF;
    padding: 12px;
    border: none;
    margin: 12px;
    
}